:root {
  font-family: 'Nanum Gothic', sans-serif;
}

body {
  margin: 0;
}

#root {
  display: flex;
  width: 100vw;
}

main {
  flex: 1;
}

a {
  text-decoration: none;

  &:visited {
    color: black;
  }
}