:root {
  font-family: 'Nanum Gothic', sans-serif;
}

html {
  overscroll-behavior-y: none;
}

body {
  margin: 0;
}

#root {
  display: flex;
  width: 100vw;
}

main {
  @media (max-width: 375px) {
    width: 100%;
  }

  flex: 1;
}

a {
  text-decoration: none;

  &:visited {
    color: black;
  }
}